.recipe-informations {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    border-radius: 15px;
    padding: 0 15px 15px 0;
  }

  div {

    h1 {
      font-weight: bold;
      font-size: 1.5em;
      padding-bottom: 10%;
    }

    p {
      padding-bottom: 3%;
    }
  }
}

.recipe-ingredients {
  li {
    padding-bottom: 1%;
  }
}

