html {
  height: 100vh;
}

body {
  font-family: $font-main;
  background-color: $color-main;
  color: $color-black;
}

.wrap {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.left-part {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.right-part {
  width: 40%;
  margin: auto;
  background-color: white;
  box-shadow: $shadow-main;
  border-radius: 25px;
  padding: 15px;
}